{% extends ':frontend/category:base.html.twig' %}

{% block heading %}Image Gallery{% endblock %}

{% block main_display %}
    <div id="main-display-1">
        <p>
            Select a category from the left to see images here.
        </p>
    </div>
{% endblock %}
