{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{% block heading %}{% endblock %}</h1>
        </div>

        {% block main_content %}{% endblock %}
    </div>
{% endblock %}
